<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.matt.solomon.ethereum-gas-prices</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>3236587A-96A8-44D0-8A99-57C1731CEE67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>354FC2CD-CF8A-45A1-99E9-73CFCA5F3271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matt Solomon</string>
	<key>description</key>
	<string>Get current Ethereum gas prices from EthGasStation</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ethereum Gas Prices</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>gas</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting gas costs...</string>
				<key>script</key>
				<string>query=$1

python gas.py $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Get Ethereum gas prices</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3236587A-96A8-44D0-8A99-57C1731CEE67</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>354FC2CD-CF8A-45A1-99E9-73CFCA5F3271</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Ethereum Gas Prices
===================

Alfred workflow to quickly get gas prices using the EthGasStation API

Usage
-------------

`gas`: Shows the fast, average, and slow gas prices. Highlight a gas price and click enter to copy it to the clipboard</string>
	<key>uidata</key>
	<dict>
		<key>3236587A-96A8-44D0-8A99-57C1731CEE67</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>354FC2CD-CF8A-45A1-99E9-73CFCA5F3271</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>v1.0.0</string>
	<key>webaddress</key>
	<string>https://mattsolomon.dev</string>
</dict>
</plist>
